.technology-section {
    background-image: url('../../assets/technology/background-technology-mobile.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    min-height: 100svh;
}

.header-text {
    font-size: clamp(1rem, 2vw, 2rem);
    padding: 0 1.5rem 2rem;
    text-align: center;
    font-family: var(--ff-sans-condensed-nav);
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.text-no {
    color: var(--clr-light-dim);
}

.technology-content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.technology-img {
    display: flex;
    justify-content: center;
}

.tech-content-container {
    display: flex;
    flex-direction: column;
}

.tech-content-nav-mobile {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.nav-buttons-mobile {
    display: flex;
    gap: 4rem;
}

.nav-buttons-mobile button {
    border: 1px solid var(--clr-light);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
    transition: 0.27s ease;
}

.nav-buttons-mobile button:hover {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    transform: scale(1.2);
}

.nav-number {
    font-family: var(--ff-serif-headings);
}

/* Tech content */
.tech-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.tech-content-header {
}

.header-title {
    font-size: clamp(1rem, 2vw, 1.5rem);
    text-align: center;
    font-family: var(--ff-sans-condensed-nav);
    font-weight: 300;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
}

.vehicle-name {
    font-size: clamp(2rem, 4vw, 4rem);
    text-align: center;
    font-family: var(--ff-serif-headings);
    font-weight: 300;
    text-transform: uppercase;
}

.vehicle-content {
    font-size: clamp(1rem, 2vw, 1.5rem);
    padding: 0 1.5rem;
    font-family: var(--ff-sans-normal-para);
    text-align: center;
    color: var(--clr-light-dim);
}

/* Keyframe animations */
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.95);
    }
}

/* Animation classes */
.fade-in {
    animation: fade-in 0.5s ease forwards;
}

.fade-out {
    animation: fade-out 0.5s ease forwards;
}

/* Styles for Tablets */
@media (min-width: 768px) {
    .technology-section {
        background-size: cover;
        background: url('../../assets/technology/background-technology-tablet.jpg');
    }

    .tech-content-nav-mobile {
        padding: 3.5rem;
    }

    .tech-content {
        padding: 0 6rem 2rem;
    }

    .nav-buttons-mobile button {
        width: 4rem; /* Larger size for tablets */
        height: 4rem;
        font-size: 1.5rem; /* Larger font size */
    }
}

@media (min-width: 1024px) {
    .technology-section {
        background-size: cover;
        background-image: url('../../assets/technology/background-technology-desktop.jpg');
        background-repeat: no-repeat;
        padding: 20rem 0 5rem;
    }

    .header-text {
        padding: 0 2rem 5rem;
        text-align: left;
    }

    .technology-content-wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .nav-buttons-mobile button {
        width: 5rem; /* Larger size for desktops */
        height: 5rem;
        font-size: 2rem; /* Larger font size */
    }

    .tech-content-container {
        order: -1;
        justify-content: center;
    }

    .tech-content {
        padding: 0;
    }

    .technology-img {
        justify-content: flex-end;
    }

    .technology-img img {
        max-width: 75%;
    }

    .nav-buttons-mobile {
        flex-direction: column;
    }

    .content-wrapper {
        display: flex;
        gap: 3rem;
        align-items: center;
    }

    .vehicle-content {
        padding: 0;
    }

    .header-title,
    .vehicle-name,
    .vehicle-content {
        text-align: left;
    }
}

@media (min-width: 1270px) {
    .header-text {
        padding: 0 5rem 5rem;
    }

    .tech-content-nav-mobile {
        padding: 0 0 0 5rem;
    }
}
