body {
    background-image: url(../../assets/home/background-home-mobile.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-section {
    padding-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
}

.hero-text-content {
    padding: 0 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-header {
    /* font-size: 1.3rem; */
    font-size: clamp(1.2rem, 1.5vw + 1rem, 2rem);
    font-family: var(--ff-sans-condensed-nav);
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.space-text {
    font-family: var(--ff-serif-headings);
    text-align: center;
    text-transform: uppercase;
    font-size: clamp(6rem, 14vw + 1rem, 12rem);
}

.hero-paragraph {
    font-family: var(--ff-sans-normal-para);
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    text-align: center;
    width: 85%;
    margin: 0 auto;
    line-height: 2.3rem;
}

.explore {
    padding: 0 2rem 2rem 2rem;
}

.explore-btn {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    background-color: var(--clr-highlight);
    color: var(--clr-dark);
    font-size: 1.5rem;
    font-family: var(--ff-serif-headings);
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.explore-btn:hover {
    letter-spacing: 0.2rem;
    color: var(--clr-highlight);
    background-color: transparent;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
}

@media (min-width: 768px) {
    body {
        background-image: url('../../assets/home/background-home-tablet.jpg');
    }
}

@media (min-width: 1024px) {
    body {
        height: 100svh;
        background-image: url('../../assets/home/background-home-desktop.jpg');
    }

    .hero-header,
    .hero-paragraph,
    .space-text {
        text-align: left;
    }

    .hero-section {
        padding: 8rem 6rem 0 6rem;
        flex-direction: row;
        align-items: flex-end;
    }

    .hero-text-content {
        padding: 0;
    }

    .hero-paragraph {
        width: 70%;
        margin: 0;
    }

    .explore-btn {
        height: 14rem;
        width: 14rem;
    }
}
