.site-header {
    display: block;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.desktop-navbar,
.tablet-navbar {
    display: none;
}

.navigation-bar {
    padding: 2rem 1.2rem;
    display: flex;
    align-items: center;
}

.menu-btn-mobile {
    position: relative;
    z-index: 1001;
    margin-left: auto;
}

.mobile-navbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: hsla(0, 0%, 100%, 0.078);
    backdrop-filter: blur(20px); /* Apply glass effect blur */
    -webkit-backdrop-filter: blur(20px); /* Safari compatibility */
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.mobile-navbar.open {
    transform: translateX(0); /* Slide in when open */
}

.mobile-navbar.closed {
    transform: translateX(100%); /* Slide out when closed */
}

.nav-links-mobile {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
}

.nav-links-mobile li {
    padding-left: 2rem;
    font-size: 2.5rem;
    font-family: var(--ff-sans-condensed-nav);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

@media (min-width: 768px) {
    .menu-btn-mobile {
        display: none;
    }

    .mobile-navbar {
        display: none;
    }

    .navigation-bar {
        padding: 0 0 0 2rem;
    }

    /* Tablet navbar */
    .tablet-navbar {
        display: block;
        margin-left: auto;
        background-color: hsla(0, 0%, 100%, 0.078);
        padding: 2rem 1.5rem;
        backdrop-filter: blur(8px); /* Apply glass effect blur */
        -webkit-backdrop-filter: blur(8px); /* Safari compatibility */
    }

    .nav-links-tablet {
        display: flex;
        align-items: center;
        gap: 4rem;
    }

    .nav-links-tablet li a {
        font-family: var(--ff-sans-condensed-nav);
        text-transform: uppercase;
        letter-spacing: 0.1rem;
    }

    .nav-links-tablet li a::after {
        content: '';
        display: block;
        height: 3px;
        background-color: var(--clr-highlight);
        transform: scaleX(0);
        transition: transform 0.3s ease;
        position: relative;
        top: 2rem;
    }

    .nav-links-tablet li a:hover::after {
        transform: scaleX(1);
    }
}

@media (min-width: 1024px) {
    .navigation-bar {
        padding: 2rem 0 0 4rem;
    }

    .tablet-navbar {
        display: none;
    }

    .desktop-navbar {
        display: block;
        margin-left: auto;
        background-color: hsla(0, 0%, 100%, 0.078);
        padding: 3rem 2rem;
        backdrop-filter: blur(8px); /* Apply glass effect blur */
        -webkit-backdrop-filter: blur(8px); /* Safari compatibility */
    }

    .nav-links-desktop {
        display: flex;
        gap: 8rem;
    }

    .nav-links-desktop li a {
        font-weight: 300;
        font-size: clamp(1rem, 2vw, 1.2em);
        font-family: var(--ff-sans-condensed-nav);
        text-transform: uppercase;
        letter-spacing: 0.15rem;
        word-spacing: 0.2rem;
    }

    .nav-links-desktop li a::after {
        content: '';
        display: block;
        height: 3px;
        background-color: var(--clr-highlight);
        transform: scaleX(0);
        transition: transform 0.3s ease;
        position: relative;
        top: 3rem;
    }

    .nav-links-desktop li a:hover::after {
        transform: scaleX(1);
    }
}
